<a href="https://colab.research.google.com/github/ryonce/Sales-Predictions/blob/main/Project_1_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 1
- Robert Yonce

## Loading Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQB3n8HYyoEkSD-62rMPiDoS04bdMvY4GZQDSN91Ngp5lDUp0nGiOLJ8jZLxz3QAVZOMelr46SzLkEQ/pub?output=csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## Cleaning Data

In [4]:
# How many rows and columns? Use info method
df.info()
#12 columns and 8523 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
# What are the datatypes of each variable? info method above gives the information

In [6]:
# Are there duplicates? If so, drop any duplicates.
df.duplicated().sum()

0

In [7]:
# Identify missing values
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
# Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
# Chose to do the mean of Item_Weight column then replaced all the NaN with that value.

itemweight_replace = round(df['Item_Weight'].mean(), 2)

df['Item_Weight'].fillna(value = itemweight_replace, inplace=True)

In [9]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [11]:
# Created variables to see if there were in correlations
# Also ran value counts to see the values in the list before
groc = df['Outlet_Type'] == 'Grocery Store'
super1 = df['Outlet_Type'] == 'Supermarket Type1'
super2 = df['Outlet_Type'] == 'Supermarket Type2'
super3 = df['Outlet_Type'] == 'Supermarket Type3'
tier1 = df['Outlet_Location_Type'] == 'Tier 1'
tier2 = df['Outlet_Location_Type'] == 'Tier 2'
tier3 = df['Outlet_Location_Type'] == 'Tier 3'
df['Outlet_Size'][groc].value_counts(dropna = False)

NaN      555
Small    528
Name: Outlet_Size, dtype: int64

In [12]:
# Replacing the NaN values in Outlet_Size with Small using the filter created above
df['Outlet_Size'][groc] = df['Outlet_Size'][groc].fillna(value = 'Small')
df[groc]

<ipython-input-12-f52f68238d7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][groc] = df['Outlet_Size'][groc].fillna(value = 'Small')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
23,FDC37,12.860,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,Small,Tier 3,Grocery Store,178.4344
29,FDC14,12.860,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,Small,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8473,DRI47,14.700,Low Fat,0.035016,Hard Drinks,144.3128,OUT010,1998,Small,Tier 3,Grocery Store,431.4384
8480,FDQ58,12.860,Low Fat,0.000000,Snack Foods,154.5340,OUT019,1985,Small,Tier 1,Grocery Store,459.4020
8486,FDR20,20.000,Regular,0.000000,Fruits and Vegetables,46.4744,OUT010,1998,Small,Tier 3,Grocery Store,45.2744
8490,FDU44,12.860,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,Small,Tier 3,Grocery Store,424.7804

In [13]:
# Reran value counts to test if code worked
df['Outlet_Size'][groc].value_counts()

Small    1083
Name: Outlet_Size, dtype: int64

In [14]:
# Ran code to see values for my filter
df['Outlet_Size'][tier2].value_counts(dropna = False)

NaN      1855
Small     930
Name: Outlet_Size, dtype: int64

In [15]:
# Replacing the NaN values in Outlet_Size with Small using the filter created above
df['Outlet_Size'][tier2] = df['Outlet_Size'][tier2].fillna(value = 'Small')
df[tier2]

<ipython-input-15-339fc9e242b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][tier2] = df['Outlet_Size'][tier2].fillna(value = 'Small')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Small,Tier 2,Supermarket Type1,4710.5350
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
22,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
25,NCD06,13.00,Low Fat,0.099887,Household,45.9060,OUT017,2007,Small,Tier 2,Supermarket Type1,838.9080
...,...,...,...,...,...,...,...,...,...,...,...,...
8510,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,Small,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Small,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136

In [16]:
# Running code to check if worked
df['Outlet_Size'][tier2].value_counts()

Small    2785
Name: Outlet_Size, dtype: int64

In [17]:
# All misssing values have been replaced
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [18]:
# Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).
df.nunique()

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [19]:
# Ran the value_counts above to find the inconsistent values and replaced here. 
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [20]:
# For any numerical columns, obtain the summary statistics of each (min, max, mean). 
# Item_Weight
print(f"Min is {df['Item_Weight'].min()}")
print(f"Max is {df['Item_Weight'].max()}")
print(f"Mean is {df['Item_Weight'].mean()}")

Min is 4.555
Max is 21.35
Mean is 12.85804939575267

In [21]:
# For any numerical columns, obtain the summary statistics of each (min, max, mean). 
# Item_Visibility
print(f"Min is {df['Item_Visibility'].min()}")
print(f"Max is {df['Item_Visibility'].max()}")
print(f"Mean is {df['Item_Visibility'].mean()}")

Min is 0.0
Max is 0.328390948
Mean is 0.06613202877895108

In [22]:
# For any numerical columns, obtain the summary statistics of each (min, max, mean). 
# Item_MRP
print(f"Min is {df['Item_MRP'].min()}")
print(f"Max is {df['Item_MRP'].max()}")
print(f"Mean is {df['Item_MRP'].mean()}")

Min is 31.29
Max is 266.8884
Mean is 140.9927819781767

In [23]:
# For any numerical columns, obtain the summary statistics of each (min, max, mean). 
# Outlet_Establishment_Year
print(f"Min is {df['Outlet_Establishment_Year'].min()}")
print(f"Max is {df['Outlet_Establishment_Year'].max()}")
print(f"Mean is {df['Outlet_Establishment_Year'].mean()}")

Min is 1985
Max is 2009
Mean is 1997.8318667135984

In [24]:
# For any numerical columns, obtain the summary statistics of each (min, max, mean). 
# Item_Outlet_Sales
print(f"Min is {df['Item_Outlet_Sales'].min()}")
print(f"Max is {df['Item_Outlet_Sales'].max()}")
print(f"Mean is {df['Item_Outlet_Sales'].mean()}")

Min is 33.29
Max is 13086.9648
Mean is 2181.288913575032

## Exploratory Visuals

## Explanatory Visuals